.bioLangage{
    color: #03224c;
    background-color: lavender;
}
.titleRow{
    margin-bottom: 3em;
}
.logoContainer{
    height: 150px;
    width: 350px;
}
.logo{
    width: 50%;
    height: 50%;
}
@media (max-width: 1250px) {
    .logo{
        width: 30%;
        height: 30%;
    }
}