.card{
    background-color: #03224c;
    border-radius: 0;
    border: transparent;
    -webkit-box-shadow: 7px 7px 15px 5px rgba(0,0,0,0.36); 
    box-shadow: 7px 7px 15px 5px rgba(0,0,0,0.3);
}
.card:hover{
    margin-top: 0!important;
    transition: margin-top 1s;
    cursor: pointer;
}
.card-img-top{
    border-radius: 0;
}
.card-body{
    background-color: rgba(3, 34, 76, 0.25);
    color: #e6e6fa;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.card-body .card-title, .card-text{
    opacity: 0;
}
.card-body:hover{
    background-color: #03214c;
    transition: background-color 4s;
}
.card-body:hover .card-title,.card-body:hover .card-text{
    transition: opacity 2.5s;
    opacity: 1;
}
.card-title{
    color: #5fecbe;
    text-shadow: 2px 0 0 #03224c, 2px 2px 0 #03224c, 0 2px 0 #03224c, -2px 2px 0 #03224c, -2px 0 0 #03224c, -2px -2px 0 #03224c, 0 -2px 0 #03224c, 2px -2px 0 #03224c;
}
.card-text{
    color: lavender;
    text-align: justify;
    text-shadow: 2px 0 0 #03224c, 2px 2px 0 #03224c, 0 2px 0 #03224c, -2px 2px 0 #03224c, -2px 0 0 #03224c, -2px -2px 0 #03224c, 0 -2px 0 #03224c, 2px -2px 0 #03224c;
    padding: 3rem;
}
/* MEDIA QUERIES */
@media (max-width: 1250px) {
    .card-body .card-title{
        opacity: 1;
    }
    .card-body:hover .card-title,.card-body:hover .card-text{
        display: none;
    }
}